@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
:root {
    --grey: hsl(0, 0%, 65%);
    --dark_grey: hsl(0, 0%, 20%);
}

/*////////////*JS/WEIRD STUFF/////////////*/
.stripe-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow: hidden;
}
.stripe-left {
    opacity: 0.1;
    z-index: -5;
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 10%));
    position: absolute;
    top: -260px;
    left: 150px;
    width: 380px;
    height: 1200px;
    transform: rotate(-25deg);
}
.stripe-right {
    opacity: 0.1;
    z-index: -5;
    background: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 80%));
    position: absolute;
    top: 0px;
    right: 250px;
    width: 380px;
    height: 1200px;
    transform: rotate(30deg);
}
.work-stripe {
    position: absolute;
    top: -500px;
    left: -100px;
    opacity: 0.1;
    z-index: -5;
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 0%));
    width: 380px;
    height: 1200px;
    transform: rotate(-40deg);
}
.service-stripe {
    position: absolute;
    top: -300px;
    right: -100px;
    opacity: 0.1;
    z-index: -5;
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 0%));
    width: 380px;
    height: 1200px;
    transform: rotate(40deg);
}
.test-stripe-left {
    position: absolute;
    top: -300px;
    left: -100px;
    opacity: 0.1;
    z-index: -5;
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 0%));
    width: 380px;
    height: 1200px;
    transform: rotate(-40deg);
}
.test-stripe-right {
    position: absolute;
    top: 200px;
    right: -50px;
    opacity: 0.1;
    z-index: -5;
    background: linear-gradient(to bottom, hsl(0, 0%, 70%), hsl(0, 0%, 0%));
    width: 420px;
    height: 1200px;
    transform: rotate(40deg);
}
.light-circle {
    width: 1px;               /* Diameter of the circle */
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 200px;         /* Makes the shape circular */
    box-shadow: 0 0 200px 150px rgba(255, 255, 255, 0.25); /* Glow effect */
    position: absolute;
    bottom: -50px;
    right: -50px;
}
.scroll-target, .scroll-target-left, .scroll-target-right {
    opacity: 0;
    position: relative;
    top: 120px;
    transition: 0.4s ease;
}
.starter {
    position: relative;
    opacity: 0;
    transition: 0.4s ease;
}
.dd-container {
    display: none;
    opacity: 0;
    flex-direction: column;
    border-radius: 20px;
    background-color: hsl(0, 0%, 6%);
    width: 250px;
    position: absolute;
    top: 38px;
    right: -20px;
    z-index: 5;
    transition: 0.3s ease;
}
.dd-link {
    width: 100%;
    height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-bottom: 1px solid hsl(0, 0%, 10%);
}
/*//////////////////////////////////////*/

/*////////// HEADER //////////*/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 80px;
}
.header-logo {
    height: 54px;
    width: auto;
}
.menu-all-container {
    position: relative;
}
.menu-icon-container {
    cursor: pointer;
    width: 21px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
}
.menu-dot {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 100px;
}
/*////////////////////////////*/

/*////////// HOME CONTENT //////////*/
.home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}
.home-title {
    line-height: 1;
    font-size: 150px;
    font-weight: 700;
}
.home-para {
    width: 1000px;
    color: var(--grey);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin: 30px auto 60px;
}
.home-btn-flex {
    display: flex;
    gap: 15px;
    margin: 0 auto;
}
.btn-contact {
    cursor: pointer;
    background-color: hsl(253, 100%, 64%);
    color: white;
    border-radius: 100px;
    border: 2px solid transparent;
    font-size: 20px;
    padding: 14px 28px;
    transition: 0.3s ease;
}.btn-contact:hover {border: 2px solid white; background-color: white; color: black;}
.btn-book {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border: 2px solid var(--dark_grey);
    font-size: 20px;
    padding: 14px 28px;
    transition: 0.3s ease;
}.btn-book:hover {border: 2px solid white; background-color: white; color: black;}
/*//////////////////////////////////*/

/*////////// INFO //////////*/
.info-container {
    width: calc(100% - 160px);
    margin: 90px auto 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 64px;
}
.info-date {
    min-width: 118px;
    color: var(--grey);
    font-size: 22px;
    margin-right: 20px;
}
.info-img-container {
    max-width: 100%;
}
.info-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}
.socials-col {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.socials-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;
}
.socials-txt {
    color: var(--grey);
    font-size: 22px;
    transition: 0.3s ease;
}
.socials-arrow-container {
    position: relative;
    top: 50px;
    font-size: 16px;
    opacity: 0;
    transform: rotate(0deg); /*-45deg*/
    transition: 0.3s ease;
}
.info-extra {
    width: calc(100% - 160px);
    margin: 0 auto 250px;
    text-align: center;
}
.extra-title {
    font-size: 20px;
    color: var(--grey);
    margin-bottom: 30px;
}
.extra-para {
    font-size: 32px;
    font-weight: 600;
    width: 1500px;
    max-width: calc(100% - 160px);
    margin: 0 auto;
}
.extra-para span {
    font-size: 32px;
    font-weight: 600;
    color: hsl(0, 0%, 60%);
}
/*//////////////////////////*/

/*////////// WORKS //////////*/
.works-container {
    position: relative;
    width: calc(100% - 160px);
    margin: 0 auto;
}
.works-content-flex {
    width: 1550px;
    max-width: calc(100%);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 110px;
}
.works-title {
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 75px;
}
.arrow-down-container {
    width: 64px;
    height: 64px;
    border: 2px solid var(--dark_grey);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-down-long {
    visibility: visible;
    font-size: 22px;
}
.works-desc {
    font-size: 20px;
    color: var(--grey);
    line-height: 1.6;
    margin-bottom: 30px;
}
.btn-explore {
    cursor: pointer;
    background-color: hsl(253, 100%, 64%);
    color: white;
    border-radius: 100px;
    border: 2px solid transparent;
    font-size: 20px;
    padding: 15px 40px;
    transition: 0.3s ease;
}.btn-explore:hover {border: 2px solid white; background-color: white; color: black;}

.project-box {
    width: 100%;
    border-bottom: 1px solid var(--dark_grey);
    margin-bottom: 65px;
    max-height: 153px; /*153, 860*/
    overflow: hidden;
    transition: 0.75s ease;
}
.project-flex {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}
.project-label {
    color: var(--grey);
    font-size: 20px;
    margin-bottom: 10px;
}
.project-title {
    font-size: 48px;
    font-weight: 600;
}
.project-para {
    font-size: 20px;
    color: var(--grey);
    letter-spacing: 0.25px;
    line-height: 1.6;
    width: 560px;
    opacity: 0;
    transition: 0.3s ease;
}
.arrow-right-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid var(--dark_grey);
    transition: 0.3s ease;
}
.fa-arrow-right-long {
    font-size: 22px;
}
.project-gap {
    height: 40px;
}
.project-img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    min-height: 800px;
    border-radius: 10px;
    transition: 0.4s ease;
}
.project-img {
    z-index: 8;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 10px;
    height: auto;
    min-height: 800px;
    opacity: 0.1;
    transition: 0.5s ease;
}.project-img:hover {transform: scale(0.98); opacity: 0.18;}
.expand-icon {
    pointer-events: none;
    color: white;
    font-size: 120px;
    z-index: 9;
    opacity: 0;
    transition: 0.3s ease;
}

.project-modal {
    z-index: 10;
    background-color: hsla(0, 0%, 0%, 0.9); /*hsla(0, 0%, 0%, 0.9)*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: 0.3s ease;
}
.project-modal-flex {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}
.modal-img-container {
    position: relative;
    aspect-ratio: 4 / 3;
    width: 1024px;
    height: auto;
    overflow: hidden;
}
.project-modal-img {
    position: absolute;
    top: 0px;
    left: 1100px;
    width: 100%;
    height: auto;
    transition: 0.6s ease;
}
.chevron {
    cursor: pointer;
    font-size: 42px;
    padding: 0 15px;
}
.modal-idx-flex {
    display: flex;
    align-items: center;
    gap: 60px;
}
.modal-idx {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: white;
    opacity: 0.25;
    transition: 0.2s ease;
}
.modal-close {
    position: absolute;
    top: 19px;
    right: 32px;
    cursor: pointer;
    font-size: 24px;
}
/*///////////////////////////*/

/*////////// SERVICES //////////*/
.service-container {
    position: relative;
    width: calc(100% - 160px);
    margin: 300px auto 0;
}
.service-content-flex {
    max-width: 100%;
    width: 1550px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 110px;
}
.service-title {
    font-size: 150px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 75px;
}
.arrow-down-container {
    width: 64px;
    height: 64px;
    border: 2px solid var(--dark_grey);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-down-long {
    visibility: visible;
    font-size: 22px;
}
.service-desc {
    font-size: 20px;
    color: var(--grey);
    line-height: 1.6;
    margin-bottom: 30px;
}
.btn-explore {
    cursor: pointer;
    background-color: hsl(253, 100%, 64%);
    color: white;
    border-radius: 100px;
    border: 2px solid transparent;
    font-size: 20px;
    padding: 15px 40px;
    transition: 0.3s ease;
}.btn-explore:hover {border: 2px solid white; background-color: white; color: black;}

.skill-container {
    z-index: 99;
    border: 1px solid var(--dark_grey);
    display: flex;
}
.skill-box {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 50px 0px 20px;
    width: 100%;
    min-width: 0px;
    height: 824px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid var(--dark_grey);
    transition: 0.7s ease;
}
.arrow-up-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid var(--dark_grey);
    transition: 0.5s ease;
}
.fa-arrow-up-long {
    font-size: 22px;
}
.skill-title {
    font-size: 58px;
    font-weight: 600;
    white-space: nowrap;
    max-width: 0px;
    transform: rotate(-90deg);
    transition: 0.3s ease;
}
.transition {
    opacity: 0;
    transition: 0.3s ease;
}

.active-box {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -10;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--dark_grey);
    padding: 30px;
    background-color: black; /*hsl(0, 0%, 7%)*/
}
.active-img-container {
    height: 500px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.active-img {
    position: absolute;
    top: 0px;
    left: 800px;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}
.active-img:nth-child(1) {
    left: 0px;
}
.active-title {
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 18px;
}
.active-para {
    color: var(--grey);
    font-size: 19px;
    line-height: 1.6;
}
/*///////////////////////////*/

/*////////// TESTIMONIAL //////////*/
.test-container {
    position: relative;
    border-bottom: 1px solid var(--dark_grey);
    padding-bottom: 30px;
    width: calc(100% - 160px);
    margin: 300px auto;
    display: flex;
    flex-direction: column;
}
.test-title {
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1;
}
.quote-img {
    margin: 140px auto 120px;
}
.test-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 150px;
}
.test-arrow-container {
    cursor: pointer;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    min-width: 120px;
    border-radius: 150px;
    font-size: 22px;
    transition: 0.3s ease;
}.test-arrow-container:hover{background-color: hsl(253, 100%, 64%);}
.test-quote-col {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.quote-container {
    height: 100%;
    position: absolute;
    top: 0px;
    left: -1300px; /*+-1300px*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.6s ease;
}
.quote-para {
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1.6;
    color: hsl(0, 0%, 94%);
}
.test-info-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}
.avatar-img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}
.info-col {
    text-align: left;
}
.info-name {
    font-size: 28px;
    letter-spacing: -1px;
}
.info-job {
    font-size: 18px;
    color: var(--grey);
    letter-spacing: -.5px;
}
/*/////////////////////////////////*/

/*////////// FOOTER //////////*/
.footer-container {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--dark_grey);
    padding-bottom: 60px;
    width: calc(100% - 160px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.talk-col {
    opacity: 1;
}
.footer-title {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 12px;
}
.email-container {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 24px 20px 24px 25px;
}
.email-input {
    background-color: transparent;
    width: 400px;
    outline: 0;
    padding: 0;
    border: 0;
    font-size: 22px;
    color: black;
}.email-input::placeholder {color: black;}
.fa-right-to-bracket {
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.footer-nav {
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 150px;
}
.footer-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-txt {
    text-decoration: none;
    font-size: 20px;
}
/*////////////////////////////*/
.chev-flex {
    display: none;
}


@media only screen and (max-width: 1264px){    /*50px from each side*/
    .stripe-left {
        display: none;
    }
    .stripe-right {
        opacity: 0.1;
        z-index: -5;
        background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 0%));
        position: absolute;
        top: -150px;
        right: 150px;
        width: 380px;
        height: 1400px;
        transform: rotate(25deg);
    }

    .header {
        padding: 24px 50px;
    }
    .home-title {
        font-size: 80px;
    }
    .home-para {
        width: 700px;
        color: var(--grey);
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: -.5px;
        margin: 30px auto 60px;
    }

    .info-container {
        width: calc(100% - 100px);
        margin: 90px auto 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
    }
    .info-date {
        display: none;
    }
    .info-img-container {
        max-width: 100%;
    }
    .info-img {
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
    .socials-col {
        display: none;
    }
    .info-extra {
        width: calc(100% - 100px);
        margin: 0 auto 200px;
    }
    .extra-title {
        font-size: 20px;
        color: var(--grey);
        margin-bottom: 30px;
    }
    .extra-para, .extra-para span {
        font-size: 24px;
        font-weight: 500;
        width: calc(100% - 100px);
        max-width: calc(100% - 100px);
        margin: 0 auto;
    }

    .works-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .works-content-flex {
        width: 1550px;
        max-width: calc(100%);
        margin-bottom: 80px;
    }
    .works-title {
        font-size: 54px;
        margin-bottom: 50px;
    }
    .works-desc {
        font-size: 16px;
        letter-spacing: -.5px;
    }

    .project-box {
        width: 100%;
        border-bottom: 1px solid var(--dark_grey);
        margin-bottom: 50px;
        max-height: 153px; /*153, 860*/
        overflow: hidden;
        transition: 0.75s ease;
    }
    .project-flex {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
        padding-top: 15px;
    }
    .project-label {
        color: var(--grey);
        font-size: 18px;
        margin-bottom: 10px;
    }
    .project-title {
        font-size: 40px;
        font-weight: 600;
    }
    .arrow-right-container {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        border: 2px solid var(--dark_grey);
        transition: 0.3s ease;
    }
    .fa-arrow-right-long {
        font-size: 22px;
    }
    .project-img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        max-height: 700px;
        border-radius: 10px;
        transition: 0.4s ease;
    }
    .project-img {
        z-index: 8;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        border-radius: 10px;
        height: auto;
        min-height: 700px;
        opacity: 0.1;
        transition: 0.5s ease;
    }.project-img:hover {transform: scale(0.98); opacity: 0.18;}
    .expand-icon {
        pointer-events: none;
        color: white;
        font-size: 120px;
        z-index: 9;
        opacity: 0;
        transition: 0.3s ease;
    }

    .service-container {
        overflow: hidden;
        position: relative;
        width: calc(100% - 100px);
        margin: 100px auto 0;
    }
    .service-content-flex {
        width: 1550px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom:80px;
    }
    .service-title {
        font-size: 54px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 50px;
    }
    .service-desc {
        font-size: 16px;
        letter-spacing: -.5px;
        margin-bottom: 30px;
    }
    .project-modal-flex {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 20px;
    }
    .chevron {
        font-size: 32px;
        padding: 0 8px;
    }

    .skill-container {
        border: 1px solid var(--dark_grey);
        border-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .skill-box { /*MIN HEIGHTS: b 1264, 736 = 780; b 736, 492 = 520; l 492 = 490*/
        overflow: hidden;
        position: relative;
        cursor: pointer;
        padding: 0px 30px;
        max-width: 100%;
        min-width: 0px;
        height: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-right: 0;
        border-bottom: 1px solid var(--dark_grey);
        transition: 0.7s ease;
    }
    .arrow-up-container {
        order: 1;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 100px;
        border: 2px solid var(--dark_grey);
        transition: 0.5s ease;
    }
    .fa-arrow-up-long {
        font-size: 20px;
        transform: rotate(90deg);
    }
    .skill-title {
        order: 0;
        font-size: 36px;
        font-weight: 600;
        white-space: auto;
        max-width: none;
        transform: rotate(0deg);
        transition: 0.3s ease;
    }

    .active-box {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -10;
        display: flex;
        flex-direction: column;
        border-right: 0;
        padding: 30px;
        background-color: black; /*hsl(0, 0%, 7%)*/
    }
    .active-img-container {
        height: 540px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow-x: hidden;
    }
    .active-img {
        position: absolute;
        top: 0px;
        left: 1300px;
        width: 100%;
        height: 520px;
        transition: 0.5s ease;
    }
    .active-title {
        font-size: 48px;
        font-weight: 500;
        margin: auto 0 15px;
    }
    .active-para {
        color: var(--grey);
        font-size: 17px;
        line-height: 1.6;
    }

    .test-container {
        overflow: hidden;
        width: calc(100% - 100px);
    }
    .test-title {
        font-size: 80px;
    }
    .test-stripe-right {
        display: none;
    }

    .footer-container {
        position: relative;
        border-bottom: 1px solid var(--dark_grey);
        padding-bottom: 60px;
        width: calc(100% - 100px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .talk-col {
        opacity: 1;
    }
    .footer-title {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .email-container {
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 20px 20px 20px 16px;
    }
    .email-input {
        background-color: transparent;
        width: 290px;
        outline: 0;
        padding: 0;
        border: 0;
        font-size: 16px;
        color: black;
    }.email-input::placeholder {color: black;}
    .fa-right-to-bracket {
        font-size: 20px;
        cursor: pointer;
        color: black;
    }
    .test-arrow-container:hover {
        background-color: hsl(0, 0%, 12%);
    }
    
    .footer-container {
        width: calc(100% - 100px);
    }
    .footer-nav {
        margin-right: 0px;
        display: flex;
        align-items: center;
        gap: 70px;
    }
    .footer-col {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .footer-txt {
        text-decoration: none;
        font-size: 15px;
    }
}
@media only screen and (max-width: 736px){
    .home-title {
        font-size: 54px;
    }
    .home-para {
        width: 94%;
        color: var(--grey);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: -.5px;
        margin: 30px auto 60px;
    }
    .home-btn-flex {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
    }

    .info-extra {
        width: 100%;
    }
    .extra-para span {
        display: none;
    }
    .extra-para {
        font-size: 20px;
        font-weight: 400;
        min-width: 94%;
    }

    .works-content-flex {
        width: 1550px;
        max-width: calc(100%);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .works-title {
        font-size: 48px;
        margin-bottom: 30px;
    }
    .works-desc {
        display: none;
        font-size: 16px;
        letter-spacing: -.5px;
        color: var(--grey);
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .btn-explore {
        display: none;
        cursor: pointer;
        background-color: hsl(253, 100%, 64%);
        color: white;
        border-radius: 100px;
        border: 2px solid transparent;
        font-size: 20px;
        padding: 15px 40px;
        transition: 0.3s ease;
    }

    .project-box {
        width: 100%;
        border-bottom: 1px solid var(--dark_grey);
        margin-bottom: 20px;
        max-height: 153px; /*153, 860*/
        overflow: hidden;
        transition: 0.75s ease;
    }
    .project-flex {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
        padding-top: 27px;
    }
    .project-label {
        color: var(--grey);
        font-size: 18px;
        margin-bottom: 10px;
    }
    .project-title {
        font-size: 32px;
        font-weight: 500;
    }
    .arrow-right-container {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        border: 2px solid var(--dark_grey);
        transition: 0.3s ease;
    }
    .fa-arrow-right-long {
        font-size: 18px;
    }
    .project-img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        min-height: 400px;
        border-radius: 10px;
        transition: 0.4s ease;
    }
    .project-img {
        z-index: 8;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        border-radius: 10px;
        height: auto;
        min-height: 400px;
        opacity: 0.25;
        transition: 0.5s ease;
    }.project-img:hover {transform: scale(0.98); opacity: 0.18;}
    .expand-icon {
        pointer-events: none;
        color: white;
        font-size: 60px;
        z-index: 9;
        opacity: 1;
        transition: 0.3s ease;
    }

    .service-container {
        position: relative;
        width: calc(100% - 100px);
        margin: 100px auto 0;
    }
    .service-content-flex {
        width: 1550px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .service-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 30px;
    }
    .arrow-down-container {
        width: 64px;
        height: 64px;
        border: 2px solid var(--dark_grey);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa-arrow-down-long {
        visibility: visible;
        font-size: 22px;
    }
    .service-desc {
        display: none;
        font-size: 16px;
        letter-spacing: -.5px;
        margin-bottom: 30px;
    }

    .skill-container {
        border: 1px solid var(--dark_grey);
        border-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .skill-box {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        padding: 0px 18px;
        max-width: 100%;
        min-width: 0px;
        min-height: 0px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid var(--dark_grey);
        border-bottom: 1px solid var(--dark_grey);
        transition: 0.7s ease;
    }
    .arrow-up-container {
        order: 1;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border-radius: 100px;
        border: 2px solid var(--dark_grey);
        transition: 0.5s ease;
    }
    .fa-arrow-up-long {
        font-size: 16px;
        transform: rotate(90deg);
    }
    .skill-title {
        order: 0;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -.5px;
        white-space: auto;
        max-width: none;
        transform: rotate(0deg);
        transition: 0.3s ease;
    }

    .active-box {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -10;
        display: flex;
        flex-direction: column;
        border-right: 0;
        padding: 0px;
        padding-bottom: 10px;
        background-color: black; /*hsl(0, 0%, 7%)*/
    }
    .active-img-container {
        height: 320px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow-x: hidden;
    }
    .active-img {
        position: absolute;
        top: 0px;
        left: 1300px;
        width: 100%;
        height: 300px;
        transition: 0.5s ease;
    }
    .active-title {
        font-size: 36px;
        font-weight: 500;
        margin: auto 0 15px 15px;
    }
    .active-para {
        margin-left: 15px;
        color: var(--grey);
        font-size: 15px;
        line-height: 1.6;
    }

    .footer-container {
        position: relative;
        border-bottom: 1px solid var(--dark_grey);
        padding-bottom: 60px;
        width: calc(100% - 100px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .talk-col {
        opacity: 1;
        margin-bottom: 50px;
    }
    .footer-title {
        font-size: 46px;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .email-container {
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 20px 20px 20px 16px;
    }
    .email-input {
        background-color: transparent;
        width: 280px;
        outline: 0;
        padding: 0;
        border: 0;
        font-size: 16px;
        color: black;
    }.email-input::placeholder {color: black;}
    .fa-right-to-bracket {
        font-size: 20px;
        cursor: pointer;
        color: black;
    }
    
    .footer-container {
        width: calc(100% - 100px);
    }
    .footer-nav {
        margin-right: 0px;
        display: flex;
        align-items: center;
        gap: 90px;
    }
    .footer-col {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .footer-txt {
        text-decoration: none;
        font-size: 18px;
    }
}
@media only screen and (max-width: 492px){ /*15 each side*/
    .stripe-right {
        opacity: 0.1;
        z-index: -5;
        background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 0%));
        position: absolute;
        top: -150px;
        right: 150px;
        width: 220px;
        height: 1400px;
        transform: rotate(25deg);
    }

    .header {
        padding: 18px 30px;
    }
    .home-content {
        margin-top: 50px;
    }
    .home-title {
        font-size: 36px;
    }
    .home-para {
        width: 96%;
        color: var(--grey);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: -.5px;
        margin: 30px auto 36px;
    }

    .info-extra {
        margin-bottom: 150px;
    }
    .info-container {
        width: calc(100% - 30px);
        margin: 50px auto 26px;
    }
    .extra-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .extra-para {
        font-size: 13px;
        font-weight: 400;
    }

    .works-container {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    .project-box {
        width: 100%;
        border-bottom: 1px solid var(--dark_grey);
        margin-bottom: 20px;
        max-height: 153px; /*153, 860*/
        overflow: hidden;
        transition: 0.75s ease;
    }
    .project-flex {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        padding-top: 48px;
    }
    .project-label {
        color: var(--grey);
        font-size: 16px;
        margin-bottom: 10px;
    }
    .project-title {
        letter-spacing: -1px;
        font-size: 26px;
        font-weight: 500;
    }
    .arrow-right-container {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        border: 2px solid var(--dark_grey);
        transition: 0.3s ease;
    }
    .fa-arrow-right-long {
        font-size: 18px;
    }
    .project-img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        min-height: 350px;
        border-radius: 10px;
        transition: 0.4s ease;
    }
    .project-img {
        z-index: 8;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        border-radius: 10px;
        height: auto;
        min-height: 350px;
        opacity: 0.25;
        transition: 0.5s ease;
    }.project-img:hover {transform: scale(0.98); opacity: 0.18;}
    .expand-icon {
        pointer-events: none;
        color: white;
        font-size: 60px;
        z-index: 9;
        opacity: 1;
        transition: 0.3s ease;
    }
    .work-stripe {
        position: absolute;
        top: -300px;
        left: -50px;
        opacity: 0.1;
        z-index: -5;
        background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 0%));
        width: 260px;
        height: 1200px;
        transform: rotate(-40deg);
    }
    .project-modal {
        height: 100vh;
        padding-bottom: 50px;
        z-index: 99;
    }
    .project-modal-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0px;
    }
    .project-img-container {
        max-width: 100%;
    }
    .chevron {
        display: none;
        font-size: 32px;
        padding: 0 8px;
    }
    .chev-flex {
        display: flex;
        gap: 80px;
        padding: 8px 20px;
    }
    .m-chevron {
        font-size: 24px;
        padding: 0px 15px;
    }

    .service-container {
        width: calc(100% - 30px);
        width: 100%;
        margin-top: 0;
        padding: 150px 30px 0;
    }
    .service-stripe {
        position: absolute;
        top: -300px;
        right: -100px;
        opacity: 0.1;
        z-index: -5;
        background: linear-gradient(to bottom, hsl(0, 0%, 0%), hsl(0, 0%, 35%), hsl(0, 0%, 25%));
        width: 250px;
        height: 1200px;
        transform: rotate(40deg);
    }

    .active-box {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -10;
        display: flex;
        flex-direction: column;
        border-right: 0;
        padding: 0px;
        padding-bottom: 10px;
        background-color: black; /*hsl(0, 0%, 7%)*/
    }
    .active-img-container {
        height: 320px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow-x: hidden;
    }
    .active-img {
        position: absolute;
        top: 0px;
        left: 1300px;
        width: 100%;
        height: 300px;
        transition: 0.5s ease;
    }
    .active-title {
        font-size: 36px;
        font-weight: 500;
        margin: auto 0 15px 15px;
    }
    .active-para {
        margin-left: 15px;
        color: var(--grey);
        font-size: 14px;
        line-height: 1.6;
    }

    .test-container {
        width: 100%;
        padding: 150px 15px 30px;
        margin: 0 auto 150px;
    }
    .test-stripe-left {
        width: 300px;
        top: -200px;
    }

    .footer-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 40px;
        border-bottom: 0;
    }
}



/*TESTIMONIAL ONLY*/
@media only screen and (max-width: 1640px){
    .quote-para {
        font-size: 26px;
    }
    .test-flex {
        gap: 100px;
    }
}
@media only screen and (max-width: 1207px){
    .quote-para {
        font-size: 18px;
    }
    .test-quote-col {
        position: relative;
        width: 100%;
        height: 320px;
        overflow: hidden;
    }
    .test-arrow-container {
        cursor: pointer;
        background-color: hsl(0, 0%, 12%);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        min-width: 60px;
        border-radius: 150px;
        font-size: 18px;
        transition: 0.3s ease;
    }
}
@media only screen and (max-width: 905px){
    .test-title {
        font-size: 48px;
    }
    .quote-img {
        margin-top: 80px;
    }

    .test-flex {
        gap: 30px;
    }
    .quote-para {
        font-size: 16px;
    }
    .test-quote-col {
        position: relative;
        width: 100%;
        height: 320px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 574px){
    .test-title {
        font-size: 32px;
    }
    .quote-img {
        margin-top: 60px;
    }

    .test-arrow-container {
        cursor: pointer;
        background-color: hsl(0, 0%, 12%);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        min-width: 50px;
        border-radius: 150px;
        font-size: 16px;
        transition: 0.3s ease;
    }
    .test-flex {
        gap: 15px;
    }
    .quote-para {
        font-size: 13px;
        letter-spacing: 0px;
    }
    .test-quote-col {
        position: relative;
        width: 100%;
        height: 340px;
        overflow: hidden;
    }
    .avatar-img {
        width: 64px;
        height: 64px;
        border-radius: 100px;
    }
    .info-col {
        text-align: left;
    }
    .info-name {
        font-size: 23px;
        letter-spacing: -1px;
    }
    .info-job {
        font-size: 14px;
        color: var(--grey);
        letter-spacing: -.5px;
    }
}
/*////////////////*/